Client/Service References/ServiceReference/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/BugTrackerService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntities.Entity" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBugs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetAllBugsResult" nillable="true" type="q1:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bugList" nillable="true" type="q2:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBugsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bug" nillable="true" type="q3:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetMyProjectsResult" nillable="true" type="q4:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugsByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q5:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugsByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetBugsByProjectResult" nillable="true" type="q6:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bug" nillable="true" type="q7:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bug" nillable="true" type="q8:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="AddBugResult" nillable="true" type="q9:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>