Client/Service References/ServiceReference/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/BugTrackerService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntities.Entity" />
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/BugTrackerService/mex?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllBugs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetAllBugsResult" nillable="true" type="q1:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bugList" nillable="true" type="q2:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBugsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bug" nillable="true" type="q3:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsAssignedTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsAssignedToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetProjectsAssignedToResult" nillable="true" type="q5:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetAllProjectsByUserResult" nillable="true" type="q7:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugsByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q8:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugsByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetBugsByProjectResult" nillable="true" type="q9:ArrayOfBug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bug" nillable="true" type="q10:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="SaveBugResult" nillable="true" type="q11:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="bug" nillable="true" type="q12:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="AddBugResult" nillable="true" type="q13:Bug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetMyUserResult" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugPriorityList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugPriorityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBugPriorityListResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="proj" nillable="true" type="q16:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetUsersByProjectResult" nillable="true" type="q17:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedUsersByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="proj" nillable="true" type="q18:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedUsersByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetAssignedUsersByProjectResult" nillable="true" type="q19:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBugStatusListResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsManagedBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsManagedByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetProjectsManagedByResult" nillable="true" type="q22:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q23:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="AddProjectResult" nillable="true" type="q24:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q25:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="SaveProjectResult" nillable="true" type="q26:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q27:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q28:Project" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q29:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestProjectAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q30:User" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="role" nillable="true" type="q31:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestProjectAssignmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q32:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetProjectByCodeResult" nillable="true" type="q33:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersPendingProjectJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q34:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersPendingProjectJoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="GetUsersPendingProjectJoinResult" nillable="true" type="q35:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptUserOnProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q36:User" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q37:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptUserOnProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectUserFromProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="user" nillable="true" type="q38:User" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DataEntities.Entity" minOccurs="0" name="project" nillable="true" type="q39:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectUserFromProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>